## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mankato,US,44.1636,-93.9994,58.21,91,1,5.75,clear sky,2021-10-05 05:43:24
1,1,Kirando,TZ,-7.4167,30.6000,81.25,54,53,1.59,broken clouds,2021-10-05 05:46:35
2,2,Tasiilaq,GL,65.6145,-37.6368,35.76,61,63,5.79,broken clouds,2021-10-05 05:46:35
3,3,East London,ZA,-33.0153,27.9116,56.34,94,20,4.61,light rain,2021-10-05 05:43:02
4,4,Vardo,NO,70.3705,31.1107,53.80,85,100,25.12,overcast clouds,2021-10-05 05:46:36

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp])

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_temp = float(input("What is the miminum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the miminum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 75

In [5]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mankato,US,44.1636,-93.9994,58.21,91,1,5.75,clear sky,2021-10-05 05:43:24
3,3,East London,ZA,-33.0153,27.9116,56.34,94,20,4.61,light rain,2021-10-05 05:43:02
4,4,Vardo,NO,70.3705,31.1107,53.80,85,100,25.12,overcast clouds,2021-10-05 05:46:36
6,6,Kang,BW,-23.6752,22.7876,64.49,63,1,13.91,clear sky,2021-10-05 05:46:36
7,7,Albany,US,42.6001,-73.9662,57.09,95,100,1.01,overcast clouds,2021-10-05 05:45:29
8,8,Jamestown,US,42.0970,-79.2353,64.04,98,90,1.01,fog,2021-10-05 05:46:37
11,11,Rikitea,PF,-23.1203,-134.9692,73.67,75,98,19.26,overcast clouds,2021-10-05 05:46:38
12,12,Severo-Kurilsk,RU,50.6789,156.1250,45.41,82,82,22.77,light rain,2021-10-05 05:46:38
13,13,Ahipara,NZ,-35.1667,173.1667,61.09,90,38,3.24,scattered clouds,2021-10-05 05:46:39
14,14,Geraldton,AU,-28.7667,114.6000,68.41,56,75,14.97,broken clouds,2021-10-05 05:46:39

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                342
City                   342
Country                337
Lat                    342
Lng                    342
Max Temp               342
Humidity               342
Cloudiness             342
Wind Speed             342
Current Description    342
Date                   342
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                342
City                   342
Country                337
Lat                    342
Lng                    342
Max Temp               342
Humidity               342
Cloudiness             342
Wind Speed             342
Current Description    342
Date                   342
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Mankato,US,44.1636,-93.9994,58.21,91,1,5.75,clear sky,2021-10-05 05:43:24
3,3,East London,ZA,-33.0153,27.9116,56.34,94,20,4.61,light rain,2021-10-05 05:43:02
4,4,Vardo,NO,70.3705,31.1107,53.80,85,100,25.12,overcast clouds,2021-10-05 05:46:36
6,6,Kang,BW,-23.6752,22.7876,64.49,63,1,13.91,clear sky,2021-10-05 05:46:36
7,7,Albany,US,42.6001,-73.9662,57.09,95,100,1.01,overcast clouds,2021-10-05 05:45:29
...,...,...,...,...,...,...,...,...,...,...,...
707,707,Taihe,CN,30.8712,105.3845,65.44,83,100,5.91,overcast clouds,2021-10-05 05:50:57
708,708,Songjianghe,CN,42.1859,127.4790,45.16,94,100,2.86,overcast clouds,2021-10-05 05:50:57
710,710,Ngaoundere,CM,7.3167,13.5833,65.86,87,77,2.30,broken clouds,2021-10-05 05:50:58
711,711,Tarime,TZ,-1.3500,34.3667,73.45,59,96,4.32,overcast clouds,2021-10-05 05:50:58
712,712,Tromso,NO,69.6496,18.9570,51.82,62,20,4.00,light rain,2021-10-05 05:50:58

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mankato,US,58.21,clear sky,44.1636,-93.9994,
3,East London,ZA,56.34,light rain,-33.0153,27.9116,
4,Vardo,NO,53.80,overcast clouds,70.3705,31.1107,
6,Kang,BW,64.49,clear sky,-23.6752,22.7876,
7,Albany,US,57.09,overcast clouds,42.6001,-73.9662,
8,Jamestown,US,64.04,fog,42.0970,-79.2353,
11,Rikitea,PF,73.67,overcast clouds,-23.1203,-134.9692,
12,Severo-Kurilsk,RU,45.41,light rain,50.6789,156.1250,
13,Ahipara,NZ,61.09,scattered clouds,-35.1667,173.1667,
14,Geraldton,AU,68.41,broken clouds,-28.7667,114.6000,

In [12]:
len(hotel_df)

342

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitud to location key for the params dictionary
    
    params = {
    "location": f"{lat}, {lng}",
    "radius": 5000,
    "types": "hotel",
    "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mankato,US,58.21,clear sky,44.1636,-93.9994,Mankato
3,East London,ZA,56.34,light rain,-33.0153,27.9116,East London
4,Vardo,NO,53.80,overcast clouds,70.3705,31.1107,Vardo
6,Kang,BW,64.49,clear sky,-23.6752,22.7876,Kang
7,Albany,US,57.09,overcast clouds,42.6001,-73.9662,Voorheesville

In [18]:
# 8a. Create the output File (CSV)
#Create the output file (CSV)
output_data_file = "Vacation_Search/VacationPy.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))